*{
  font-size: 1.3vw;
}
*:focus{
  outline: none !important;
}
html{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.root{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
}
.resizeme{
  position: relative;
  display: grid;
  overflow: auto;
  max-height: 90vh;
  grid-row-start: 1;
  grid-column-start: 1;
}
.resizebar{
  position: relative;
  height: 100%;
  width: 17.617px;
  overflow-y: auto;
  grid-row: span 2;
}
.resizebar-inground{
  width: 1px;
  height: 1000%;
  background-color: gray;
}

.tagQuestionContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}
.tagQuestionContainer>div{
  display: grid;
  grid-template-rows: 3fr 2fr;
  border-left: 1px solid gray;
}
.commonTricks{
  width: 100%;
  height: 100%;
}
.allPWs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.actionList{
  color: black;
  display: flex;
}
.bottomHalfRoot{
  display: grid;
  grid-template-rows: min-content auto;
  overflow-y: auto;
}
.topOfBottomHalfRoot{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  container-type: inline-size;
}
.topOfBottomHalfRoot>*{
  font-size: 1.5cqw;
}
.bottomHalfRoot>.hideable[visible="id0"]{
  display: none;
}
.table{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

@media(max-aspect-ratio: 7/5) {
  *{
    font-size: 2vw;
  }
  .table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 200vh;
  }
  .tagQuestionContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-y: auto;
    width: 100%;
  }
  .tagQuestionContainer>div{
    display: grid;
    grid-template-rows: max-content max-content;
  }
  .resizeme{
    position: relative;
    max-height: 90vh;
    overflow: auto;
  }
  .topOfBottomHalfRoot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    container-type: inline-size;
  }
  .topOfBottomHalfRoot>*{
    font-size: 2cqw;
  }
}
@media(max-aspect-ratio: 4/5) {
  *{
    font-size: 5vw;
  }
  .table{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 400vh;
  }
  .tagQuestionContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .resizeme{
    position: relative;
    max-height: 90vh;
    overflow: auto;
  }
  .resizebar{
    position: relative;
    height: 100%;
    width: 17.617px;
    overflow-y: auto;
    grid-row: span 2;
  }
  .resizebar::-webkit-scrollbar{
    display: none;
  }
  .resizebar-inground{
    width: 1px;
    height: 1000%;
  }
  .topOfBottomHalfRoot>*{
    font-size: 3cqw;
  }
}
.theme{
  display: grid;
  grid-template-rows: 0.25fr 1fr 0.75fr 6fr;
  border-radius: 3%;
  margin-left: 1%;
  margin-right: 1%;
  overflow-x: hidden;
  overflow-y: unset;
}
.theme.mythos{
  color: rgba(0, 0, 0, 0.837);
  background-color: rgb(208, 102, 208)
}
.mythos>.Mystery>.MysteryHeader{
  color: rgba(0, 0, 0, 0.837);
}
.TypeHeader.mythos, .TypeHeader.logos{
  text-align: center;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.255);
  user-select: none;
}
.mythos>.Type>.TypeTextBox{
  color: black;
  background-color: rgb(135, 68, 135);
}
.theme.logos{
  color: rgb(121, 78, 0);
  background-color: rgb(253, 201, 181);
}
.Type{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.Attention{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: calc(100% - 2px);
}
.logos>.checkAttentionFade>.Attention{
  outline: rgba(185, 49, 0, 0.514) dashed 1px;
}
.mythos>.checkAttentionFade>.Attention{
  outline: rgba(135, 68, 135, 1) dashed 1px;
}
.AttentionCheckContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Fade{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: calc(100% - 2px);
}
.logos>.checkAttentionFade>.Fade{
  outline: rgba(185, 49, 0, 0.514) dashed 1px;
}
.mythos>.checkAttentionFade>.Fade{
  outline: rgb(135, 68, 135) dashed 1px;
}
.FadeCheckContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.checkAttentionFade{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  left: 1px;
}
.TextBox{
  color: black;
  position: relative;
  width: 90%;
  left: 7%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.Mystery>.TextBox{
  height: 100%;
  max-height: 96px;
  overflow: auto;
}
.Mystery{
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.logos>.Mystery>.MysteryHeader, .logos>.Type>.TypeHeader{
  color: rgb(220, 129, 45);
  background-color: rgb(185, 49, 0);
}
.logos>.Type>.TypeTextBox{
  background-color: rgba(185, 49, 0, 0.514);
}
.bottomHalfOfTheme{
  display: grid;
  grid-template-rows: 1fr 0.2fr 1fr 0.25fr 1fr;
}
.Title{
  color: black;
  min-height: 68px;
  overflow-y: auto;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.Power{
  max-height: 118px;
  overflow-y: auto;
}
.PowerTagCommon{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}
.powerTag{
  background-color: transparent;
  color: black;
  border-bottom: 1px dashed black
}
.questionLetter{
  border: 0;
  padding: 0;
  appearance: none;
  text-align: center;
}

.questionParaq{
  color: gray;
}
.questionParaq:hover{
  color: white;
  background-color: gray;
}
